<app-header titulo="Generar Asistencia "></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>profesor a cargo wacoldo</ion-card-subtitle>
      <ion-card-title>QR Actual </ion-card-title>
    </ion-card-header>
    <ion-button expand="block" (click)="genQR()">Generar QR</ion-button>
    <ion-card-content>
      <ngx-qrcode 
      *ngIf="display"
      [elementType]="elementType" 
      [errorCorrectionLevel]="correctionLevel" 
      [value]="value" alt="Demo QR Code"
      [colorLight]='backgroundColor'
      [scale]='scale'
      [colorDark]='duocColorB'
      cssClass="bshadow" class="ion-text-center"></ngx-qrcode>
      <hr>
      <p>Clase: {{asignatura}} </p>
      <p>Seccion: {{seccion}} </p>
      <p>Fecha: {{fecha}} </p>
      <p>Hora: {{hora}} </p>
    </ion-card-content>
    
  </ion-card>


  <ion-list-header class="ion-text-center ion-padding">
    <ion-label>Registro de clases QR</ion-label>
  </ion-list-header>
  <ion-card>
    <ion-grid fixed class="ion-padding">
      <ion-row>
        <ion-col size="3">asignatura</ion-col>
        <ion-col size="3">seccion</ion-col>
        <ion-col size="3">Fecha</ion-col>
        <ion-col size="3">hora</ion-col>
      </ion-row>
      <ion-row>
        <ion-item *ngFor="let c of componentes"  >
          <ion-grid fixed >
            <ion-col  size="3">{{c.asignatura}}</ion-col>
            <ion-col  size="3">{{c.seccion}}</ion-col>
            <ion-col size="3"><ion-icon  color="duocb"></ion-icon>{{c.fecha}}</ion-col>
            <ion-col  size="3">{{c.hora}}</ion-col>
        </ion-grid>
        </ion-item>
  
      </ion-row>
  
      
    </ion-grid>
  
      
    </ion-card>

</ion-content>